.carousel-wrapper {
    height: 400px;
    position: relative;
    width: 800px;
    margin: 20px auto;
    padding: 25px;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev {
    left: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
    right: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.light {
    color: white;
}

@media (max-width: 480px) {
    .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}


/*Select every element*/
[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background-color: #ffffff;
    background-size: cover;
}

.item-2 {
    background-color: #ffffff;

    background-size: cover;
}

.item-3 {
    background-color: #ffffff;

    background-size: cover;
}

*:target ~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

.carousel-wrapper .video-container {
    display: flex;
}

.carousel-wrapper .video-info {
    width: 70%;
}

.carousel-wrapper .preview-info,
.carousel-wrapper .preview-info img,
.carousel-wrapper .video-container {
    height: 100%;
}

.carousel-wrapper .preview-info,
.carousel-wrapper .preview-info img {
    width: 100%;
    border-radius: 10px 0 0 10px;
}

.carousel-wrapper .description {
    align-items: start;
    padding: 10px;
    width: 30%;
}

.carousel-wrapper .name-video {
    width: 100%;
}

.carousel-wrapper .name-video span {
    width: 90%;
}

.about {
    width: 100%;
    height: 270px;
    white-space: normal;
    text-overflow: clip;
}

@media screen and (max-width: 1000px) {
    .carousel-wrapper {
        width: 600px;
        height: 350px;
    }
}