.categories {
    margin: 4px 0;
    display: grid;
    font-size: 18px;
    column-gap: 14px;
    grid-auto-flow: row;
    grid-template-columns: repeat(15, auto);
    overflow: auto;
}

.categories::-webkit-scrollbar {
    height: 0;
}

.category {
    background-color: var(--color-light-gray);
    border-radius: 15px;
    padding: 2px 7px;
    border: 1px solid var(--color-gray);
    white-space: nowrap;
}

.category:first-child,
.category:hover {
    background-color: var(--main-color);
    color: #ffffff;
}