:root {
    --main-padding-x: 20px;
    --main-color: #f2b80a;
    --color-light-gray: #f5f5f5;
    --color-gray: #dbdbdb;
    --color-dark-gray: #a4a4a4;
}

*::selection {
    background-color: var(--main-color);
    color: #ffffff;
}

.streamer img,
.description img {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 10px;
}

.streamer-name,
.name-video span,
.carousel-wrapper .video-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.preview-info,
.description img,
.video-info span,
.video-info i,
.name-streamer,
.category:first-child,
.category:hover,
header .search-btn:hover,
header .fa-microphone:hover,
header .fa-bell:hover,
.dropdown-menu > .fa-paw:hover,
.streamer:hover {
    cursor: pointer;
}

.streamer-name:hover,
.name-streamer:hover,
.video-info span:hover {
    color: #0000ff;
}