header {
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 12px var(--main-padding-x);
    font-size: 20px;
    background: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 5;
}

.logo {
    color: var(--main-color);
    font-size: 22px;
    font-weight: bolder;
}

.fa-cat {
    padding-right: var(--main-padding-x);
}

.search-group,
.menu-group {
    display: flex;
    align-items: center;
}

.search-group input {
    border: 1px solid var(--color-gray);
    border-radius: 6px 0 0 6px;
    width: 500px;
}

.search-btn {
    border: 1px solid var(--color-gray);
    border-radius: 0 4px 4px 0;
    border-left: none;
}

.search-group input,
.search-btn {
    font-size: 14px;
    padding: 7px;
}

.search-btn:hover {
    background-color: var(--color-gray);
}

.search-group input:focus {
    border: 1px solid #388eff;
    box-shadow: 0 0 5px #8fb8ff;
    transition: .3s box-shadow;
}

header .fa-microphone {
    margin-left: 10px;
}

header .fa-bell {
    margin-right: 18px;
}

.dropdown-menu > .fa-paw {
    font-size: 14px;
    padding: 10px;
    background: var(--main-color);
    border-radius: 50%;
}

header .fa-microphone,
header .fa-bell {
    color: var(--color-gray);
}

header .fa-microphone:hover,
header .fa-bell:hover {
    color: var(--color-dark-gray);
}

.dropdown-menu > .fa-paw:hover {
    background: var(--color-gray);
}

.dropdown-menu {
    position: relative;
    display: inline-block;
    border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    padding-top: 7px;
    min-width: 160px;
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    background-color: #ffffff;;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid var(--color-gray);
    display: block;
}

.dropdown-content a:first-child {
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}

.dropdown-content a:last-child {
    border-radius: 0 0 5px 5px;
    border-top: none;
    color: #ff0000;
}

.dropdown-content a:hover {
    background-color: var(--color-gray);
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 1200px) {
    .search-group input {
        width: 400px;
    }
}

@media screen and (max-width: 800px) {
    .search-group input {
        width: 300px;
    }
}

@media screen and (max-width: 650px) {
    .search-group input {
        width: 200px;
    }
}