.main {
    top: 57px;
    left: 260px;
    padding: var(--main-padding-x);
    position: relative;
    width: calc(100% - 260px);
    overflow-y: auto;
    min-height: 90vh;
    background-color: #f3e9f2;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0 15px 0;
    font-size: 18px;
    position: absolute;
    width: 95%;
    bottom: 0;
}

footer i {
    padding-left: 10px;
}

@media screen and (max-width: 1200px) {
    .main {
        width: calc(100% - (var(--main-padding-x) * 2 + 35px));
        left: calc(var(--main-padding-x) * 2 + 35px);
    }
}