.sidebar {
    width: 260px;
    position: fixed;
    top: 57px;
    bottom: 0;
    background-color: var(--color-light-gray);
    font-size: 18px;
    z-index: 1;
}

.streamers {
    overflow-y: auto;
    height: calc(100% - (var(--main-padding-x) * 8));
    border-bottom: 2px solid #ffffff;
}

.streamer,
.info-block {
    padding: var(--main-padding-x);
}

.streamer:hover {
    background-color: var(--color-gray);
}

.streamer {
    display: flex;
    align-items: center;
}

.streamer-name {
    max-width: 105px;
}

.streamer img {
    transition: 0.5s;
}

.streamer:hover img {
    transform: scaleX(-1);
    transition: 0.7s;
}

.streamer-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.followers {
    display: flex;
    align-items: center;
}

.streamer.live .followers:before {
    content: '';
    margin: 4px;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #ff0000;
    box-shadow: 0 0 0 rgba(255, 0, 0, 0.4);
    animation: pulse 2s infinite;
}

.info-block {
    position: absolute;
    bottom: 0;
    margin: var(--main-padding-x);
    background-color: var(--color-gray);
    text-align: center;
}

.social-networks {
    margin-top: var(--main-padding-x);
    display: flex;
    justify-content: space-evenly;
}

.social-networks .fa-telegram:hover {
    color: #0088cc;
}

.social-networks .fa-instagram:hover {
    color: #C13584;
}

.social-networks .fa-facebook:hover {
    color: #3b5998;
}

@media screen and (max-width: 1200px) {
    .sidebar {
        width: calc(var(--main-padding-x) * 2 + 35px);
    }

    .info-block,
    .streamer-info {
        display: none;
    }

    .streamers {
        height: 100%;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}