.video-block {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    row-gap: 15px;
    column-gap: 15px;
    justify-content: space-between;
}

.preview-info > img {
    height: 220px;
    width: 360px;
    transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
}

.preview-info {
    position: relative;
}

.preview-info i {
    display: none;
    color: #ffffff;
    position: absolute;
    top: 47%;
    left: 47%;
    font-size: 30px;
}

.preview-info:hover img {
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
}

.preview-info:hover i {
    display: block;
}

.stream,
.video-time {
    position: absolute;
    margin: 10px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 4px;
    padding: 5px;
}

.stream {
    top: 0;
    left: 0;
    background-color: rgb(255, 0, 0);
}

.video-time {
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
}

.description {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.name-video {
    font-size: 18px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.name-video span {
    max-width: 280px;
}

.name-streamer {
    font-size: 14px;
    color: var(--color-dark-gray);
    margin: auto;
}

@media screen and (max-width: 1410px) {
    .preview-info > img {
        height: 200px;
        width: 300px;
    }
    .name-video {
        width: 240px;
    }
    .name-video span {
        max-width: 220px;
    }
    .video-block {
        grid-template-columns: repeat(3, 300px);
        justify-content: space-around;
    }
}

@media screen and (max-width: 1230px) {
    .preview-info > img {
        height: 190px;
        width: 280px;
    }
    .name-video {
        width: 220px;
    }
    .name-video span {
        max-width: 200px;
    }
    .video-block {
        grid-template-columns: repeat(3, 280px);
        justify-content: space-around;
    }
}

@media screen and (max-width: 1050px){
    .preview-info > img {
        height: 220px;
        width: 360px;
    }
    .name-video {
        width: 300px;
    }
    .name-video span {
        max-width: 280px;
    }
    .video-block {
        grid-template-columns: repeat(2, 360px);
        justify-content: space-around;
    }
}

@media screen and (max-width: 850px) {
    .preview-info > img {
        height: 260px;
        width: 420px;
    }
    .name-video {
        width: 360px;
    }
    .name-video span {
        max-width: 340px;
    }
    .video-block {
        grid-template-columns: repeat(1, 420px);
        justify-content: center;
    }
}

